.campus-img {
  width: 90%;
  height: 280px;
  object-fit: cover;
  /* border-radius: 8px; */
}
.campus-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1);
  background:  rgb(92, 175, 234);
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.campus-arrow:hover {
  color: white;
   transform: translateY(-50%) scale(1.2);
}

.campus-arrow.next {
  right: 70px;
}

.campus-arrow.prev {
  left: 10px;
}
.slick-slide {
  padding: 0 !important;
}

@media (min-width: 1000px) {
  .campus-grid {
    display: flex;
    flex-direction: row;
    gap: 24px;        
  }

  .campus-grid > div {
    width: 50% !important;
  }
}

