.slick-center .faculty-card {
  opacity: 1;
  transform: scale(1.0);
}
.faculty-card .faculty-img {
  margin: auto;
}

.faculty-card h6,
.faculty-card p,
.faculty-card span {
  text-align: center !important;
  margin: 0 auto;
}
.partner-img {
  width: 100%;
  max-width: 130px;
  transition: transform 0.4s ease;
  text-align: center;
}
.faculty-card {
  opacity: 0.4;
  transform: scale(0.6);
  transition: 0.4s;
}

.slick-center .faculty-card {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 768px) {
  .faculty-card {
    transform: scale(1);
    opacity: 1;
  }
}
