.partner-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.partner-img {
  width: 130px;
  transition: transform 0.4s ease;
}

.partner-img:hover {
  transform: scale(1.2);
}
