body {
  /* font-family: "Poppins", Arial, sans-serif; */
}
.program-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  height: 280px;
}
.program-card img {
  width: 275px;
  height: 300px;
  object-fit: cover;
  /* display: flex; */
}
.program-slide {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow-y: auto;   
  max-height: 300px;
  width: 100%;
  height: 100%;
  color: #fdfbfb;
  padding: 25px;
  transform: translateY(80%);
  transition:all ease 1s;
  /* background: 0.2s ease; */
  /* opacity: 0.7; */
}

.program-slide h4 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
    /* text-shadow: 0px 4px 10px rgba(0,0,0,0.9); */
  /* opacity: 0.7; */
}
.program-slide ul {
  padding-left: 18px;
   margin: 0;
  /* opacity: 0.7; */
    text-shadow: 0px 4px 10px rgba(0,0,0,0.9);
}

.program-slide li {
  font-size: 14px;
  margin-bottom: 10px;
  text-shadow: 0px 4px 10px rgba(0,0,0,0.9);
  /* color: black; */
}
.program-slide ul li {
  position: relative;
  list-style: disc;
  cursor: pointer;
}
.program-slide ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s ease;
}
.program-slide ul li:hover::after {
  width: 100%;
}
.program-card:hover .program-slide {
  transform: translateY(0);
  opacity: 0.7;
}




