body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.my-slider {
  width: 100%;
  overflow: hidden;
}

.my-slider .slick-list,
.my-slider .slick-track,
.my-slider .slick-slide,
.my-slider .slick-slide > div {
  height: auto !important; 
}

.my-slider img {
  width: 100%;
  height: auto;
  max-height: 90vh; 
  object-fit: cover; 
  display: block;
}

